.movieGridItem {
  position: relative;
}

.moviePoster {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.moviePoster:hover {
  cursor: pointer;
  background-color: grey;
  opacity: 0.4;
}

.moviePosterWrapper:hover ~ .movieTitle {
  display: grid;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 4;
  width: 100%;
  text-align: center;
  vertical-align: center;
}

.movieTitle {
  display: none;
}
