@import '../../colors.css';

.toolbar {
  display: flex;
  background-color: rgb(var(--navbar));
  align-items: center;
  justify-content: space-around;
}

.navOptionsWrapper {
  display: flex;
  flex: 0.25;
  align-items: center;
  justify-content: space-evenly;
}

.navOptionsMobileWrapper {
  display: flex;
  flex: 0.6;
  flex-direction: column;
  justify-content: space-evenly;
}

.navOption {
  text-transform: capitalize;
  color: white;
}

.navOption:hover {
  color: #ead3a8;
  text-decoration-line: none;
}

.navOptionActive {
  color: #ead3a8 !important;
}

.guestLogo {
  width: 250px;
  height: 100px;
  margin: auto;
  display: flex;
  align-self: center;
}
