.container {
  margin: 1% auto;
}
.moviePosterResult {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.titleAndSubDetailsView {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
}

.titleText {
  margin: 2% !important;
}

.subDetailsView {
  justify-content: space-between;
  margin: 2%;
}

.lowerContainer {
  margin: 4% 0 !important;
}

.overview,
.genreView,
.favoriteButton {
  margin: 2% 0 !important;
}
