.mainContainer {
  height: 100vh;
}

.searchTopContainer {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
}

.searchBar {
  margin: 2% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.searchButton {
  margin: 2% 0 !important;
  width: 40%;
}
