.form {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container {
  height: 80vh;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.submitButton {
  width: 30%;
  align-self: center;
}
