@import '../../colors.css';

.dashboardContainer {
  padding: 2%;
}

.chartCardContainer {
  background-color: rgba(var(--navbar), 0.8);
  height: 100%;
}

.chartCardContent {
  height: 100%;
}

.chartView {
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90% !important;
}
