.App {
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  background: url('./assets/images/bg.jpg');
  background-repeat: repeat;
  background-size: cover;
  color: #fff5b7;
}

.container {
  margin-top: 4%;
}
